$white: #ffffff;
$lightBlue: #f5f9fd;
$blue: #186dee;
$hoverBlue: #2c47f0;
$darkyBlue: #424b70;
$darkBlue: #353e60;
$black: #202124;
$greyLine: #d8dae6;
$darkGrey: #808080;
$darkyGrey: #211f40;
$orange: #f25929;
